In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
test_df = pd.read_csv("/kaggle/input/titanic/test.csv")

In [3]:
print(train_df.shape)
print(test_df.shape)

(891, 12)
(418, 11)

**Cleaning Data - Missing Values Handling**

In [4]:
train_df['Age'].fillna(value = train_df['Age'].mean(), inplace=True)
train_df['Cabin'].fillna(value = 'N1', inplace=True)
train_df = train_df.dropna()
train_nan_counts = train_df.isna().sum()
print(train_nan_counts)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [5]:
# test_df['Age'].fillna(value = test_df['Age'].mean(), inplace=True)
test_df['Cabin'].fillna(value = 'N1', inplace=True)
test_df
test_df = test_df.fillna(value = 0)
test_nan_c = test_df.isna().sum()
print(test_nan_c)

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [6]:
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,N1,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,N1,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,N1,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,N1,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,N1,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,N1,Q

**Handling Categorical Data**

In [7]:
from sklearn.preprocessing import LabelEncoder

train_df.drop(columns=['Name','Ticket'], inplace=True)

train_df['Sex'] = train_df['Sex'].map({'male': 0, 'female': 1})

# create a LabelEncoder object
cabin_le = LabelEncoder()

# fit the LabelEncoder to the column
cabin_le.fit(train_df['Cabin'].append(test_df['Cabin']))

# transform the column to numerical labels
train_df['Cabin'] = cabin_le.transform(train_df['Cabin'])

em_le = LabelEncoder()

# fit the LabelEncoder to the column
em_le.fit(train_df['Embarked'].append(test_df['Embarked']))

# transform the column to numerical labels
train_df['Embarked'] = em_le.transform(train_df['Embarked'])

train_df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,7.2500,184,2
1,2,1,1,1,38.0,1,0,71.2833,105,0
2,3,1,3,1,26.0,0,0,7.9250,184,2
3,4,1,1,1,35.0,1,0,53.1000,69,2
4,5,0,3,0,35.0,0,0,8.0500,184,2

In [8]:
test_df.drop(columns=['Name','Ticket'], inplace=True)
test_df['Sex'] = test_df['Sex'].map({'male': 0, 'female': 1})
# create a LabelEncoder object
# cabin_le = LabelEncoder()

# fit the LabelEncoder to the column
# cabin_le.fit(test_df['Cabin'])
test_df['Cabin'] = cabin_le.transform(test_df['Cabin'])

# em_le = LabelEncoder()

# fit the LabelEncoder to the column
# em_le.fit(test_df['Embarked'])
test_df['Embarked'] = em_le.transform(test_df['Embarked'])
test_df.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0          892       3    0  34.5      0      0   7.8292    184         1
1          893       3    1  47.0      1      0   7.0000    184         2
2          894       2    0  62.0      0      0   9.6875    184         1
3          895       3    0  27.0      0      0   8.6625    184         2
4          896       3    1  22.0      1      1  12.2875    184         2

In [9]:
test_df

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Cabin  Embarked
0            892       3    0  34.5      0      0    7.8292    184         1
1            893       3    1  47.0      1      0    7.0000    184         2
2            894       2    0  62.0      0      0    9.6875    184         1
3            895       3    0  27.0      0      0    8.6625    184         2
4            896       3    1  22.0      1      1   12.2875    184         2
..           ...     ...  ...   ...    ...    ...       ...    ...       ...
413         1305       3    0   0.0      0      0    8.0500    184         2
414         1306       1    1  39.0      0      0  108.9000     63         0
415         1307       3    0  38.5      0      0    7.2500    184         2
416         1308       3    0   0.0      0      0    8.0500    184         2
417         1309       3    0   0.0      1      1   22.3583    184         0

[418 rows x 9 columns]

**Identifying important features**

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import mutual_info_classif
X = train_df.drop('Survived', axis = 1)
y = train_df['Survived']

Mutual Information wise sorting

In [11]:
# calculate the mutual information between each feature and the target
mi = mutual_info_classif(X, y)

# sort the features by mutual information
features = X.columns
sorted_features = [(features[i], mi[i]) for i in range(len(mi))]
sorted_features.sort(key=lambda x: x[1], reverse=True)

# select the top N most informative features
N = 10
important_features = [feature[0] for feature in sorted_features[:N]]

In [12]:
print(important_features)

['Sex', 'Fare', 'Cabin', 'Pclass', 'Embarked', 'SibSp', 'Age', 'PassengerId', 'Parch']

Random Forest Classifier based sorting

In [13]:
# train a Random Forest Classifier
rfmodel = RandomForestClassifier()
rfmodel.fit(X, y)

# calculate the feature importance
importance = rfmodel.feature_importances_

# sort the features by importance
features = X.columns
sorted_features = [(features[i], importance[i]) for i in range(len(importance))]
sorted_features.sort(key=lambda x: x[1], reverse=True)

# select the top N important features
N = 10
important_features = [feature[0] for feature in sorted_features[:N]]

In [14]:
print(importance)

[0.173163   0.06466569 0.24630492 0.1655081  0.03823794 0.02798209
 0.17719183 0.07831334 0.0286331 ]

**Keeping important and relevant features**

In [15]:
X1 = train_df.drop(['Survived', 'SibSp', 'Parch', 'Embarked'], axis = 1)
X1.head()

   PassengerId  Pclass  Sex   Age     Fare  Cabin
0            1       3    0  22.0   7.2500    184
1            2       1    1  38.0  71.2833    105
2            3       3    1  26.0   7.9250    184
3            4       1    1  35.0  53.1000     69
4            5       3    0  35.0   8.0500    184

**Training With a Machine Learning Model**

Logistic Regression Model

In [16]:
from sklearn.linear_model import LogisticRegression
# create a LogisticRegression object
logreg = LogisticRegression(max_iter=1000)

# fit the model to the training data
logreg.fit(X1, y)

LogisticRegression(max_iter=1000)

In [17]:
testX = test_df.drop(['SibSp', 'Parch', 'Embarked'], axis = 1)
test_pred = logreg.predict(testX)
print(test_pred.shape)

(418,)

In [18]:
example = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")
example

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [19]:
score = logreg.score(testX, example['Survived'])
print(score)

0.9449760765550239

Random Forest Classifier

In [20]:
rfmodel = RandomForestClassifier(10)
rfmodel.fit(X, y)
rftestpred = rfmodel.predict(test_df)
rfscore = rfmodel.score(test_df, example['Survived'])
print(rfscore)

0.7488038277511961

In [21]:
submission_df = pd.DataFrame()
submission_df['PassengerId'] = test_df['PassengerId']
# submission_df['Survived'] = test_pred
submission_df['Survived'] = rftestpred
submission_df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [22]:
submission_df.to_csv('submission.csv', index=False)

In [23]:
submission_df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         1
414         1306         1
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [24]:
print(submission_df.shape)

(418, 2)